@model Catagories

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Catagory List</h2>
            <hr />
        </div>
        <div class="mb-3">
            
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input asp-for="Name" class="form-control" />
            
            <label asp-for="DisplayOrder"></label>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            <input asp-for="DisplayOrder" class="form-control" />
            
            <label asp-for="CreatedDateTime"></label>
            <input asp-for="CreatedDateTime" class="form-control" />

        </div>
        <button class="btn btn-primary" style="width: 120px">Create</button>
        <a asp-controller="Catagories" asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
